name: Hola mundo

on: [push]

jobs:
  hola:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: example
        ports:
          - 3306:3306
    steps:
      - name: test
        run: ls


